@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
  font-family: "Noto Sans KR", sans-serif;
  width: 744px;
  height: 620px;
  background-color: rgba(0, 0, 0, 0.3);
}
ul{
  list-style: none;
}
li{
  width: 694px;
  background-color: #131315;
  margin-bottom: 3px;
}
.actuatorBox1{
  height: 231px;
}
.actuatorBox2{
  height: 110px;
}
.table_textbox{
  height: 24px;
  text-align: center;
  color: white;
  background-color: #2b2b2b;
  border: 2px solid #c9c9c9;
}
.actTable{
  position: relative;
  top: -285px;
  left: 450px;
  width: 115px;
  height: 90px;
}
.actTableTr{
  border:2px solid #353535;
  width:112px;
  height: 39px;
  display: block;
  margin-bottom: 5px;
}
.cb{
  display: none;
}
.cb + label{
  margin: auto;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #45464d;
  cursor:pointer;
  border: 1px solid white;
}
.cb:checked +label{
  background: #D63E2E;
}
.checkBox{
  padding-top: 5px;
  padding-left:5px;
}
.slidecontainer {
  width: 510px;
  height:28px; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 500px; /* Full-width */
  height: 20px; /* Specified height */
  background: #292e32; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 0;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #e72f31; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0;
}
.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #e72f31; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0;
}
