div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #424242;
   background-image: none;
   box-sizing: border-box;
}
#wb_copy_right 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_copy_right
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
}
#wb_copy_right p, #wb_copy_right ul
{
   margin: 0;
   padding: 0;
}
#wb_ResponsiveMenu1
{
   background-color: rgba(66,66,66,1.00);
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #424242;
   display: inline-block;
   height: 90px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   background-color: #424242;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 30px;
   width: 30px;
}
#wb_ResponsiveMenu1 ul li a 
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   font-style: normal;
   padding: 15px 40px 15px 40px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 60px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{ 
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 90px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 146px;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 10px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding-top: 15px;
   padding-right: 20px;
   padding-bottom: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 146px;
   position: relative;
   top: -90px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:970px) 
{
#wb_ResponsiveMenu1 
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 27px;
   font-weight: normal;
   font-style: normal;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #424242;
   color: #FFFFFF;
   padding: 0px 20px 0px 20px;
   line-height: 60px;
   text-decoration: none;
   border: none;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 90px;
   line-height: 90px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 10px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 40px;
   top: 33px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #424242;
}
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_LoginName1
{
   background-color: #424242;
   border: 0px solid #DDDDDD;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   line-height: 30px;
   padding: 0;
   text-align: center;
   margin: 0;
   vertical-align: middle;
}
#Logout1
{
   background-color: #3370B7;
   border-color: #2E6DA4;
   border-width: 1px;
   border-style: solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-align: center;
   text-decoration: none;
   -webkit-appearance: none;
   width: 90px;
   height: 20px;
   padding: 0;
}
#PageFooter
{
   background-color: #FFFFFF;
   background-image: none;
   box-sizing: border-box;
}
#wb_save
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#save
{
   border-width: 0;
   vertical-align: top;
}
#wb_load
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#load
{
   border-width: 0;
   vertical-align: top;
}
#wb_center_move
{
   transform: rotate(270deg);
   transform-origin: 50% 50%;
}
#center_move
{
   border-width: 0;
   vertical-align: top;
}
#wb_left_move
{
   transform: rotate(270deg);
   transform-origin: 50% 50%;
}
#left_move
{
   border-width: 0;
   vertical-align: top;
}
#wb_right_move
{
   transform: rotate(90deg);
   transform-origin: 50% 50%;
}
#right_move
{
   border-width: 0;
   vertical-align: top;
}
#wb_actuator
{
   vertical-align: top;
}
#actuator
{
   border: 0px solid #245580;
   border-radius: 1px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_calibar
{
   vertical-align: top;
}
#calibar
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Slider1.ui-slider-horizontal
{
   height: 14px;
   width: 530px;
}
.ui-slider-horizontal .ui-slider-handle
{
   top: -3px;
   margin-left: -10px;
}
.ui-slider .ui-slider-handle
{
   height: 18px;
   width: 18px;
}
#Slider1, #Slider1 .ui-corner-all
{
   border-radius: 0px;
}
.ToolTip1
{
   background-image: none;
   background-color: #FFFFFF;
   border: 1px #CCCCCC solid !important;
   border-radius: 0px;
   padding: 4px 4px 4px 4px;
   box-shadow: none;
   text-align: left;
}
#calibar_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 19px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
}
#calibar_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#max_stroke
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#stroke_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   box-sizing: border-box;
   width: 100%;
}
#stroke_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#stroke_val.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#stroke_val.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#stroke_val.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#stroke_val.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_stroke_val .invalid-feedback
{
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin-top: 0.25rem;
   width: 100%;
}
#stroke_val.is-invalid ~ .invalid-feedback
{
   display: block;
}
#direction
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#speed
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#speed_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   box-sizing: border-box;
   width: 100%;
}
#speed_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#speed_val.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#speed_val.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#speed_val.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#speed_val.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_speed_val .invalid-feedback
{
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin-top: 0.25rem;
   width: 100%;
}
#speed_val.is-invalid ~ .invalid-feedback
{
   display: block;
}
#left_limit
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#left_limit_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   box-sizing: border-box;
   width: 100%;
}
#left_limit_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#left_limit_val.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#left_limit_val.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#left_limit_val.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#left_limit_val.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_left_limit_val .invalid-feedback
{
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin-top: 0.25rem;
   width: 100%;
}
#left_limit_val.is-invalid ~ .invalid-feedback
{
   display: block;
}
#right_limit
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#right_limit_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   box-sizing: border-box;
   width: 100%;
}
#right_limit_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#right_limit_val.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#right_limit_val.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#right_limit_val.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#right_limit_val.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_right_limit_val .invalid-feedback
{
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin-top: 0.25rem;
   width: 100%;
}
#right_limit_val.is-invalid ~ .invalid-feedback
{
   display: block;
}
#origin
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#origin_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   box-sizing: border-box;
   width: 100%;
}
#origin_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#origin_val.is-valid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #28A745 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#origin_val.is-invalid
{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
   background-repeat: no-repeat !important;
   background-position: center right calc(0.375em + 0.1875rem) !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
   border-color: #DC3545 !important;
   padding-right: calc(1.5em + 0.75rem) !important;
}
#origin_val.is-valid:focus
{
   border-color: #28A745 !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25) !important;
}
#origin_val.is-invalid:focus
{
   border-color: #DC3545 !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25)!important;
}
#wb_origin_val .invalid-feedback
{
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   margin-top: 0.25rem;
   width: 100%;
}
#origin_val.is-invalid ~ .invalid-feedback
{
   display: block;
}
#direction_val
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#direction_val:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#ip_addr
{
   border: 2px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 28px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
}
#ip_addr:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#PageFooter
{
   background-color: #FFFFFF;
   background-image: none;
   box-sizing: border-box;
}
