body{
  font-family: sans-serif;
  width: 720px;
  height: 550px;
  margin: 0;
  padding: 0;
}
.container{
  width: 710px;
  height: 550px;
}
.box{
  width: 500px;
  height: 500px;
  position: relative;
  top:-550px;
  left: 300px;
}
ul{
  height: 20px;
  width: 300px;
  list-style: none;
}
ul li{
  overflow: auto;
  float: left;
  margin-bottom: 1px;
}
.label{
  font-size: 14px;
  color:white;
  margin-right: 20px;
}
.value_box{
  text-align: center;
  color: white;
  width: 108px;
  height: 20px;
  background-color: #272727;
  border:0;
  padding:0;
}
